<html>
  <head>
    <style>
       .left_div{
          float: left;
          background-color: orange;
          width:400px;
          height:550px;
          margin-left: 2%;
          box-shadow: 0px 0px 10px black;
          text-align:center;
        }
       .mid_div{
          float: left;
          background-color: #0099ff;
          width:400px;
          height:550px;
          margin-left: 1%;
          box-shadow: 0px 0px 20px black;
          text-align:center;
        }
       .right_div{
          float: right;
          background-color: orange;
          width:400px;
          height:550px;
          margin-right:2%;
          box-shadow: 0px 0px 20px black;
          text-align:center;
        }
       .links{
          color:#f1f1f1;
          font-size:40px;
          font-weight:bold;
          text-decoration: none;
        }
       .filling{
          padding:3px;
          width:250px;
          height:20px;
          font-size:20px;
        }
       .press{
          padding:3px;
          width:100px;
          font-size:18px;
          color:#0099ff;
        }
    </style>
    <h1 align="center" style="color: #0099ff; font-size:40px;"><%= t("app_title") %></h1>
  </head>
  <body bgcolor="#f1f1f1">
    <div class="block">
      <p>
        <div class="left_div"><br><br><br><br><br><br><br>
          <%= link_to "Add College", new_college_path, {:class=>"links"}%><br><br>
          <%= link_to "View all Colleges", colleges_path, {:class=>"links"}%>
        </div>
        <div class="mid_div" ><br><br><br>
          <%= form_for :college, url: home_search_path do |f| %>
            <%= f.text_field :name, placeholder: "College Search", class:"filling", :required => true %> <br><br>
            <%= f.submit "Search", class: "press" %>
          <% end %>
          <br><br><br>
          <%= link_to "Query On Student", "/home/query/", {:class=>"links"} %><br><br>
        </div>
        <div class="right_div"><br><br><br><br><br><br><br>
          <%= link_to "Add Student", new_student_path, {:class=>"links"} %><br><br>
          <%= link_to "View all Student", students_path, {:class=>"links"}%>
        </div>
      </p>
    </div>
  </body>
</html>
