<style>
  .block{
       background-color: #0099ff;
       box-shadow: 0px 0px 20px;
       width:700px;
       height: 550px;
       text-align: center;
       margin-left:22%;
  }
  .links{
       color:#f1f1f1;
       font-size:40px;
       font-weight:bold;
       text-decoration: none;
  }
  .press{
       padding:3px;
       width:250px;
       font-size:25px;
       color:#0099ff;
  }
  .filling{
       padding:3px;
       width:250px;
       height:25px;
       font-size:25px;
  }
</style>
<h1 align="center" style="color: #0099ff;"><%= t("new_student") %></h1>
<body bgcolor="#f1f1f1">
  <div class="block"><br><br>
    <%= form_for :student, url: students_path do |f| %>
      <p>
        <%= f.collection_select(:college_id, College.all, :id, :name) %><br><br>
        <%= f.number_field :regid, placeholder: "Register ID", class: "filling", :required => true  %><br><br>
        <%= f.text_field :dept, placeholder: "Department Name", class: "filling", :required => true  %><br><br>
        <%= f.number_field :maths, placeholder: "Math Marks", class: "filling", :required => true  %><br><br>
        <%= f.number_field :physics, placeholder: "Physics Marks", class: "filling", :required => true  %><br><br>
        <%= f.number_field :chemistry, placeholder: "Chemistry Marks", class: "filling", :required => true  %><br><br>
        <%= f.number_field :year, placeholder: "Year", class: "filling", :required => true %><br><br>
        <%= f.submit "Add Student", class: "press" %><br><br>
      </p>
    <% end %>
    <p>
      <%= link_to "Home", "/home", {:class=>"links"} %>
    </p>
  </div>
</body>
